version: '3.8'

services:
  app:
    build: .
    container_name: next_app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - prisma_migrate

  prisma_migrate:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - .:/app
    env_file:
      - .env
    command: >
      sh -c "npm install && npx prisma migrate deploy"
